@import "tailwindcss";
@import "@fontsource/bebas-neue";

@theme{
  --color-primary: var(--color-red-800);
  --color-on-primary: var(--color-white);

  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-on-background: #e0e0e0;
  --color-on-foreground: #000000;





  --font-bebas-neue: "Bebas Neue", sans-serif;
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
}

@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
