@import "tailwindcss";
@import "@fontsource/bebas-neue";

@theme{
    --font-bebas-neue: "Bebas Neue", sans-serif;
    --animate-infinite-scroll: infinite-scroll 25s linear infinite;
}

@keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}