---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Services from '../sections/Services.astro';
---

<Layout>
  <Header/>
  <main>
    <Hero/>
    <Services/>
  </main>
</Layout>
