---
const sections = ['servicios', 'nosotros', 'contacto'];
---

<nav class="hidden sm:block">
  <ul class="font-bebas-neue flex items-center gap-4 uppercase">
    {
      sections.map((section) => (
        <li>
          <a class="relative cursor-pointer after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 hover:after:w-full">
            {section}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
