---
export interface Props {
  class?: string;
  subtitle?: string;
  title?: string;
}
const { class: className, subtitle, title } = Astro.props;
---

<section class={`flex flex-col justify-center py-16 ${className}`}>
  <div class="container mx-auto flex flex-col items-center justify-center gap-4 px-4">
    {title && <h2 class="text-center text-4xl font-bold">{title}</h2>}
    {subtitle && <p class="text-on-muted mx-auto mb-4 max-w-2xl text-center text-xl">{subtitle}</p>}
    <slot />
  </div>
</section>
