---
import { Section } from "@components";
---

<Section>
  <article class="w-full max-w-3xl mx-auto">
    <details class="rounded-lg bg-card">
      <summary class="list-none cursor-pointer transition-colors px-6 py-4 hover:text-primary">
        <span>¿Qué tipos de vehículos reparan?</span>
      </summary>
      <p class="px-6 pb-4 text-on-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, laboriosam?</p>
    </details>
  </article>
</Section>
