---
import { Rating, Section } from "@components";
import { fetchPlace } from "lib/googlePlaces";
const place = await fetchPlace();
---

<Section title="Lo que dicen nuestros Clientes" subtitle="La satisfacción de nuestros clientes es nuestra mejor carta de presentación.">
  <article class="grid md:grid-cols-2 lg:grid-cols-4 p-4 gap-8">
    {place.reviews?.map(review => (
      <blockquote class="flex flex-col gap-6 border rounded-xl shadow-lg p-6 bg-card text-on-card">
        <Rating value={review.rating || 0} />

        <p class="text-balance text-center italic grow-1 text-on-muted">"{review.originalText?.text}"</p>

        <footer class="border-t pt-4 text-end">
          {review.authorAttribution?.displayName}
        </footer>
      </blockquote>
    ))}
  </article>

  <div class="inline-flex items-center gap-2 px-6 py-3 rounded-full bg-card text-on-card">
    <Rating value={place.rating || 0} class="size-4!"/>
    <span class="text-lg font-semibold">{place.rating}</span>
    <span class="text-on-muted">• {place.userRatingCount || 0} reseñas</span>
  </div>
</Section>
