---
import { Rating, Section } from '@components';
import { Image } from 'astro:assets';
import { fetchPlace } from 'lib/googlePlaces';
const place = await fetchPlace();
---

<Section
  title="Lo que dicen nuestros Clientes"
  subtitle="La satisfacción de nuestros clientes es nuestra mejor carta de presentación."
>
  <article class="grid gap-8 p-4 md:grid-cols-2 lg:grid-cols-4">
    {
      place.reviews?.map((review) => (
        <blockquote class="bg-card text-on-card flex flex-col gap-6 rounded-xl border p-6 shadow-lg">
          <Rating value={review.rating || 0} />

          <p class="grow-1 text-on-muted text-balance text-center italic">
            "{review.originalText?.text}"
          </p>

          <footer class="flex justify-end gap-2 border-t pt-4">
            <span class="leading-8">{review.authorAttribution?.displayName}</span>
            {review.authorAttribution?.photoUri && (
              <Image
                src={review.authorAttribution?.photoUri}
                alt={review.authorAttribution?.displayName || null}
                referrerpolicy="no-referrer"
                width="32"
                height="32"
                decoding="async"
                loading="lazy"
              />
            )}
          </footer>
        </blockquote>
      ))
    }
  </article>

  <div class="bg-card text-on-card inline-flex items-center gap-2 rounded-full px-6 py-3">
    <Rating value={place.rating || 0} class="size-4!" />
    <span class="text-lg font-semibold">{place.rating}</span>
    <span class="text-on-muted">• {place.userRatingCount || 0} reseñas</span>
  </div>
</Section>
