---
import { Brand, SEO } from "@components";
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="es">
  <head>
    <SEO />
  </head>
  <body>
    <header class="fixed w-full h-16 z-10 backdrop-blur-sm border-b">
      <div class="container mx-auto px-4 h-full flex items-center">
        <Brand />
        <!-- <Navbar /> -->
      </div>
    </header>

    <main>
      <slot />
    </main>

    <footer class="bg-card text-on-muted [&_h4]:text-on-background border-t">
      <div class="container mx-auto px-4 py-12">
        <section class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 text-sm text-balance">
          <div class="space-y-4">
            <Brand />
            <p>Tu taller mecánico de confianza con más de 35 años de experiencia brindando servicios automotrices de calidad.</p>
          </div>

          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Servicios</h4>
            <ul class="space-y-2">
              <li>Mantenimiento General</li>
              <li>Diagnóstico Computarizado</li>
              <li>Sistema Eléctrico</li>
              <li>Frenos y Suspensión</li>
              <li>Motor y Transmisión</li>
              <li>Aire Acondicionado</li>
            </ul>
          </div>

          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Enlaces</h4>
            <ul class="space-y-2">
              <li>
                <a href="" class="hover:text-primary transition-colors">Servicios</a>
              </li>
              <li>
                <a href="" class="hover:text-primary transition-colors">Nosotros</a>
              </li>
              <li>
                <a href="" class="hover:text-primary transition-colors">Testimonios</a>
              </li>
              <li>
                <a href="" class="hover:text-primary transition-colors">Contacto</a>
              </li>
            </ul>
          </div>

          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Contacto</h4>
            <ul class="space-y-2">
              <li>
                <a
                  class="flex items-center gap-2 hover:text-primary transition-colors"
                  href="https://maps.app.goo.gl/Ut9Nkqdi8v89n8Eu7"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <Icon name="lucide:map-pin" />
                  Juan José Paso 2668, Muñiz, Buenos Aires
                </a>
              </li>

              <li>
                <a
                  class="flex items-center gap-2 hover:text-primary transition-colors"
                  href="https://wa.me/+5491153437552"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <Icon name="lucide:phone" />
                  <span>+54 9 11 5343-7552</span>
                </a>
              </li>

              <!-- <li>
                <a
                  class="flex items-center gap-2 hover:text-primary transition-colors"
                  href="mailto:info@clinicaautomovildarko.com"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <Icon name="lucide:mail" />
                <span>info@clinicaautomovildarko.com</span>
                </a>
              </li> -->
            </ul>
          </div>
        </section>

        <p class="border-t mt-12 pt-8 text-center text-balance">© 2025 La Clínica del Automóvil Darko. Todos los derechos reservados.</p>
        <p class="mt-2 text-balance text-center">
          Diseñado y construido con ❤️ por
          <a
            href="https://mauroviveros.com.ar/"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-colors text-primary hover:underline hover:text-primary/80"
          >
            Mauro Daniel Viveros
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
