---
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		<SEO />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html, body{
		/* background: linear-gradient(135deg, #1A1A1A, #171717); */
		background-color: #0B0D0A;
		/* backdrop-filter: blur(32px) */
	}
</style>