---
import { Brand, SEO } from "@components";
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="es">
  <head>
    <SEO />
  </head>
  <body>
    <header class="fixed w-full h-16 z-10 backdrop-blur-sm border-b">
      <div class="container mx-auto p-4">
        <Brand />
        <!-- <Navbar /> -->
      </div>
    </header>

    <main>
      <slot />
    </main>

    <footer class="bg-card text-on-muted [&_h4]:text-on-background border-t">
      <div class="container mx-auto px-4 py-12">
        <section class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 text-sm text-balance">
          <div class="space-y-4">
            <Brand />
            <p>Tu taller mecánico de confianza con más de 15 años de experiencia brindando servicios automotrices de calidad.</p>
          </div>

          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Servicios</h4>
            <ul class="space-y-2">
              <li>Mantenimiento General</li>
              <li>Diagnóstico Computarizado</li>
              <li>Sistema Eléctrico</li>
              <li>Frenos y Suspensión</li>
              <li>Motor y Transmisión</li>
              <li>Aire Acondicionado</li>
            </ul>
          </div>

          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Enlaces</h4>
            <ul class="space-y-2">
              <li>
                <a href="" class="hover:text-primary transition-colors">Servicios</a>
              </li>
              <li>
                <a href="" class="hover:text-primary transition-colors">Nosotros</a>
              </li>
              <li>
                <a href="" class="hover:text-primary transition-colors">Testimonios</a>
              </li>
              <li>
                <a href="" class="hover:text-primary transition-colors">Contacto</a>
              </li>
            </ul>
          </div>

          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Contacto</h4>
            <ul class="space-y-2">
              <li class="flex items-center gap-2">
                <Icon name="lucide:map-pin" />
                <span>Juan José Paso 2653, Muñiz, Buenos Aires</span>
              </li>

              <li class="flex items-center gap-2">
                <Icon name="lucide:phone" />
                <span>+54 9 11 5142-3888</span>
              </li>

              <li class="flex items-center gap-2">
                <Icon name="lucide:mail" />
                <span>info@clinicaautomovildarko.com</span>
              </li>
            </ul>
          </div>
        </section>

        <p class="border-t mt-12 pt-8 text-center text-balance">© 2025 La Clínica del Automóvil Darko. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
