---
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <SEO />
  </head>
  <body>
    <!-- <header>
      header
    </header> -->

    <main>
      <slot />
    </main>

    <!-- <footer>
      footer
    </footer> -->
  </body>
</html>
